<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/login.css}" />
    <!-- Reference Bootstrap files -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img th:src="@{/images/logomng.png}" id="icon" alt="User Icon" />
                <h1>Logare</h1>
            </div>

            <!-- Login Form -->
            <form th:action="@{/authenticateTheUser}"
                  method="POST">
                <!-- Place for messages: error, alert etc ... -->
                <div class="form-group">
                    <div class="col-xs-15">
                        <div>

                            <!-- Check for login error -->
                            <div th:if="${param.error}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                                Invalid username and password.
                            </div>

                            <!-- Check for logout -->
                            <div th:if="${param.logout}" class="alert alert-success col-xs-offset-1 col-xs-10">
                                You have been logged out.
                            </div>

                        </div>
                    </div>
                </div>

                <input type="text" id="login" class="fadeIn second" name="username" placeholder="username">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a th:href="@{/register/showRegistrationForm}" class="underlineHover" href="#">Inregistrare chelner</a>
            </div>

        </div>
    </div>

</body>
</html>