<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/login.css}" />
    <!-- Reference Bootstrap files -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img th:src="@{/images/logomng.png}" id="icon" alt="User Icon" />
            <h1>Inregistrare</h1>
        </div>

        <!-- Login Form -->
        <form th:action="@{/register/processRegistrationForm}"
              th:object="${crmUser}" method="POST"
              class="form-horizontal">
            <!-- Place for messages: error, alert etc ... -->
            <div class="form-group">
                <div class="col-xs-15">
                    <div>

                        <!-- Check for registration error -->
                        <div th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                            <span th:text="${registrationError}"></span>
                        </div>

                    </div>
                </div>
            </div>

            <input type="text" th:field="*{userName}" placeholder="username (*)" class="fadeIn second">
            <div th:if="${#fields.hasErrors('userName')}"
                 style="margin-bottom: 25px" class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('userName')}" th:text="'User name ' + ${err}"/>
                </ul>
            </div>


            <input type="password" th:field="*{password}" placeholder="password (*)" class="fadeIn third">
            <div th:if="${#fields.hasErrors('matchingPassword')}"
                 style="margin-bottom: 25px" class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('matchingPassword')}" th:text="'Password ' + ${err}"/>
                </ul>
            </div>

            <input type="password" th:field="*{matchingPassword}" placeholder="confirm password (*)" class="fadeIn third">
            <div th:if="${#fields.hasErrors('matchingPassword')}"
                 style="margin-bottom: 25px" class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('matchingPassword')}" th:text="'Password ' + ${err}"/>
                </ul>
            </div>


            <input type="text" th:field="*{firstName}" placeholder="first name (*)" class="fadeIn second">
            <div th:if="${#fields.hasErrors('firstName')}"
                 style="margin-bottom: 25px" class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('firstName')}" th:text="'First name ' + ${err}"/>
                </ul>
            </div>

            <input type="text" th:field="*{lastName}" placeholder="last name (*)" class="fadeIn second">
            <div th:if="${#fields.hasErrors('lastName')}"
                 style="margin-bottom: 25px" class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('lastName')}" th:text="'Last name ' + ${err}"/>
                </ul>
            </div>


            <input type="text" th:field="*{email}" placeholder="email (*)" class="fadeIn second">
            <div th:if="${#fields.hasErrors('email')}"
                 style="margin-bottom: 25px" class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}"/>
                </ul>
            </div>


            <input type="submit" class="fadeIn fourth" value="Submit">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a th:href="@{/showMyLoginPage}" class="underlineHover" >Inapoi la login</a>
        </div>

    </div>
</div>

</body>
</html>